.card_body_calc {
  .card_money {
    border-radius: 12px;
    border: 1px solid var(--border-secondary, #efefef);
    padding: 6px 12px;
    .fixed_value {
      border: 1px solid var(--border-secondary, #efefef);
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      font-size: 12px;
    }

    .fixed_badge {
      &.in {
        background: #10b981;
      }
      &.out {
        background: #f15b50;
      }
      width: 10px;
      height: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .description{
        font-size: 12px;
        color: #838383;
    }
  }
}
