.modal-creted-seller {
  .input_client {
    &.error--text {
      .v-input__slot {
        border: 1px solid #f15a42 !important;

        .v-label {
          color: #f15a42 !important;
        }
      }
      &.v-input {
        input {
          &::placeholder {
            color: #f15a42 !important;
          }
          color: #f15a42 !important;
        }
      }
    }
    .v-input__slot {
      height: 60px;
      box-shadow: none !important;
      border: 1px solid #d6d6d6;
      border-radius: 12px;
    }
    .v-input__slot {
      // box-shadow: none !important;
      // border: 1px solid rgba(26, 26, 26, 0.1) !important;
      // border-radius: 12px !important;
      .v-label {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.07px;
        color: #a5a5a5;
      }
    }
  }
  .label {
    font-size: 12px !important ;
    font-weight: 500 !important;
    color: #585858 !important;
    margin-bottom: 10px !important;
  }
  .mdi-paperclip {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M14 13.5V8C14 5.79086 12.2091 4 10 4C7.79086 4 6 5.79086 6 8V13.5C6 17.0899 8.91015 20 12.5 20C16.0899 20 19 17.0899 19 13.5V4H21V13.5C21 18.1944 17.1944 22 12.5 22C7.80558 22 4 18.1944 4 13.5V8C4 4.68629 6.68629 2 10 2C13.3137 2 16 4.68629 16 8V13.5C16 15.433 14.433 17 12.5 17C10.567 17 9 15.433 9 13.5V8H11V13.5C11 14.3284 11.6716 15 12.5 15C13.3284 15 14 14.3284 14 13.5Z"></path></svg>');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }
  .mdi-check {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z'%3E%3C/path%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    color: #fff;
  }
}
