.modal_workspace {
  border-radius: $space_16 !important;
  -webkit-border-radius: $space_16 !important;
  -moz-border-radius: $space_16 !important;
  -ms-border-radius: $space_16 !important;
  -o-border-radius: $space_16 !important;

  .card_body {
    border: 1px solid $border-secondary !important;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .half {
    width: calc(50% - 8px) !important;
    max-width: calc(50% - 8px) !important;
    min-width: calc(50% - 8px) !important;
    display: inline-block;
  }

  .Main_list_workspace {
    overflow-y: auto;
    max-height: 250px;
    padding-right: 20px;
    padding-left: 10px;

    scrollbar-width: thin; 
    scrollbar-color: $background-brand $background-brand-opacity;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: $background-brand-opacity;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $background-brand; /* Cor primária do Vuetify */
      border-radius: 3px;
    }

    .item_list_workspace {
      margin-bottom: 20px;
      border-bottom: 1px solid $border-secondary !important;
      .name {
        font-size: 14px;
        font-weight: 500;
      }
      &:last-child {
        border: none !important;
      }
    }
  }
  .input_workspace {
    &.error--text {
        .v-input__slot {
            border: 1px solid #f15a42 !important;

            .v-label {
                color: #f15a42 !important;
            }
        }
        &.v-input {
            input {
                &::placeholder {
                    color: #f15a42 !important;
                }
                color: #f15a42 !important;
            }
        }
    }

    .v-input__slot {
        box-shadow: none !important;
        border: 1px solid rgba(26, 26, 26, 0.1) !important;
        border-radius: 12px !important;
        .v-label {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.07px;
            color: #a5a5a5;
        }
    }

    &.cvv {
        .v-text-field__details {
            display: none;
        }
        .v-input__slot {
            border: 1px solid #d6d6d6;
        }
    }
}
}
