.logo__termos {
  position: fixed;
  top: 23px;
  left: 72px;
}
#credenciamento {
  // background: $bg-termos;
  // width: 100%;
  // height: 100%;
  // position: fixed;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  .card__principal__termos {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 1076px;
    .card__termos {
      background: $color-white;
      max-width: 636px;
      width: 100%;
      padding: 48px;
      border-radius: 8px;

      h1 {
        font-size: 24px !important;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 0;
      }
      p {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 50px;
      }

      .group__termos__list {
        margin-bottom: 48px;
        .item__termos__list {
          margin-bottom: 24px;
          .value__termos {
            width: 32px;
            height: 32px;
            border-radius: 8px;
            border: 1px solid $color-primary-secondary;
            background: $color-primary;
            margin-right: 16px;
            //text style
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.32px;
            text-transform: uppercase;
            color: $color-white;
          }
          .text__termos {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: $color-black;
          }
        }
      }

      .time__confirm__termos {
        background: var(--primaryop);
        padding: 16px;
        border-radius: 6px;
        display: inline-block;
        .icon__ {
          margin-right: 8px;
        }
        .text__ {
          font-size: 14px;
          font-weight: 600;
          line-height: 28px;
          color: $color-primary;
        }
      }
    }
    .card__app {
      max-width: 416px;
      width: 100%;
      .illustration {
        background: var(--primaryop);
        border-radius: 8px;
        margin-bottom: 26px;
        width: 100%;
      }
      .dwonload {
        padding: 24px;
        background: $color-white;
        border-radius: 8px;

        .text__dwonload {
          color: #19092a;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          text-align: center;
        }
      }
    }
  }
}
.icon__app__termos {
  margin-top: 20px;
  svg {
    width: 154px;
    height: auto;
  }
}