.ModalCreatedOperador {
  .card_excluir_operador {
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    padding: 12px;

    .halfe_space_50 {
      width: calc(50%);
    }
    .del_operador_body {
      &.label {
        color: #525252 !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: 20px !important; /* 142.857% */
        letter-spacing: -0.28px !important;
      }
      &.value {
        color: #131313;
        font-size: 14px !important;
        font-style: normal!important;
        font-weight: 700!important;
        line-height: 20px !important; /* 142.857% */
        letter-spacing: -0.28px!important;
      }
    }
  }
  .label_card_delete_operador {
    color: #525252;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.28px;
  }
}
