.cards_items_themes {
  .cards_item {
    .card_img_main {
      position: relative;
      .background {
        width: 100%;
        min-height: 300px;
        object-fit: cover;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
      }
      .card_descricao {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: calc(100% - 16px);
      }
      .logo {
        width: 130px;
      }
      .fav-icon {
        width: 25px;
        height: 25px;
      }
    }
    .color {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }
    p {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      color: var(--content-tertiary, #989898);
      line-height: 20px;
      letter-spacing: -0.28px;
    }
  }
  .main_card{
    .label{
      font-size: 12px;
      font-weight: 500;
    }
  }
  .cards_item {
    border: 1px solid #eee;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: calc(33% - 16px);
    &.active {
      border: 2px solid var(--primary);
    }
  }
}
