$size_item_item: 150px;
.main_body {
  border-radius: 12px;
  border: 1px solid var(--border-secondary, #efefef);
  background: #fff;
  width: 100%;
  display: block;
  .group_flags {
    border: 1px solid var(--primaryop);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .item_flag {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border: 1px solid var(--primaryop);
      .flag {
        width: 40px !important;
        padding: 0px 5px;
        height: 40px !important;
        object-fit: cover;
      }
    }
  }
  .taxas_body {
    max-width: calc(100% / 12);
    min-width: calc(100% / 12);
    width: calc(100% / 12);
    border-left-width: 10px;
    border-left-color: #000;
    .parcela {
      font-size: 11px;
      font-weight: 400px;
      color: #8b8b8b;
    }
    .taxa {
      font-size: 11px;
      font-weight: 600;
    }
  }
  .type_payment {
    display: flex;
    font-size: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--primaryop);
    padding: 3px 5px;
    height: fit-content;
    color: var(--primary);
  }
  .cardPlans {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #efecec;
    .title {
      font-size: 12px !important;
      font-weight: 600;
    }
    .description {
      font-size: 10px;
    }
  }
}
