.BodyCompReturn {
    &.busca {
        h2 {
            color: #000;
            font-size: 24px !important;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.48px;
        }
        .card_info_boleto {
            padding: 12px 16px;
            border-radius: 12px;
            background: #fafafa;
            h4 {
                color: #525252;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: -0.28px;
            }
            p {
                color: #a3a3a3;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.28px;
            }
        }
        .input_busca_boleto {
            .v-input__slot {
                padding: 12px 16px;
                border-radius: 12px;
                border: 1px solid #d6d6d6;
                background: #fff;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15) !important;
            }
        }
        .button_next {
            padding: 10px 12px;
            border-radius: 12px;
            &.border_outlined {
                border: 1px solid #e8e8e8 !important;
            }
            &.v-btn--disabled {
                opacity: 0.3 !important;
                background: var(--primary) !important;
                color: #fff !important;
            }
        }
    }
}
