.top_menu {
  height: 80px;
  width: calc(100% - 296px);
  margin-left: 296px;
  .prefix {
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    display: inline-block;
    border-radius: var(--radius-full, 360px);
    background: var(--primary);

    color: var(--content-inverse, #fff);
    font-size: var(--Typography-size-body-16px, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--Typography-size-line-height-sm, 24px); /* 150% */
    letter-spacing: -0.32px;
  }
  .name {
    color: var(--content-secondary, #525252);
    font-size: var(--Typography-size-body-14px, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Typography-size-line-height-2-xs, 20px); /* 142.857% */
    letter-spacing: -0.28px;
    margin-bottom: 2px;
    span {
      padding: 0 4px;
      border-radius: var(--radius-xs, 4px);
      border: 1px solid var(--border-primary, #e5e5e5);
      background: var(--background-neutral, #efefef);
    }
  }
  .account {
    color: var(--content-tertiary, #989898);
    font-size: var(--Typography-size-body-12px, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Typography-size-line-height-xxs, 16px); /* 133.333% */
    letter-spacing: -0.24px;
    &b {
      font-weight: 700;
    }
  }
}
.lista_menu_top {
  h5 {
    font-weight: 400;
    color: #989898;
  }
  .itens_workspaces {
    &.ativo{
      background: var(--primaryop);
      i{
        color: var(--primary) !important;
      }
    }
    .title {
      font-weight: 400;
      font-size: 14px !important;
      line-height: 1rem;
    }
    .description {
      font-weight: 400;
      color: #989898;
      font-size: 12px !important;
    }
  }
}
