.check_recorrente {
    width: 242px !important;
    margin-top: 0 !important;
    .v-input__slot {
        padding: 12px 16px;
        border-radius: 12px;
        border: 1px solid #e8e8e8;
        background: #fff;
        label {
            color: #131313;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.07px;
            span {
                color: #757575 !important;
            }
        }
        .icon {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fafafa;
            border-radius: 8px;
            margin-right: 8px;
        }
        .v-input--selection-controls__input {
            position: absolute;
            right: 16px;
        }
    }
    &.v-input--is-label-active {
        .v-input__slot {
            transition: 0.1s;
            border: 1px solid var(--primary) !important ;
        }
    }
}
.check_send_recorrente {
    display: inline-block;
    .v-input__slot {
        label {
            color: #131313;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.07px;
        }

        .title_juros {
            color: #292929;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.07px;
        }
        .description_juros {
            color: #777a8b;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.07px;
        }
    }
}
.body_juros {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e8e8e8;

    .title_j {
        color: #292929;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.07px;
    }
    .description_j {
        color: #777a8b;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.07px;
        margin-bottom: 16px;
        max-width: 424px;
    }
    .input__rec {
        &.change {
            width: 477px;
            position: relative;
            .v-text-field__slot {
                left: 45px;
                display: inline-block;
                input {
                    width: 360px !important;
                }
            }
            .left_input {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background: #fafafa !important;
                border-right: 1px solid #d6d6d6;
                width: 52px;
                border-radius: 12px 0px 0px 12px;

                color: #131313;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
                letter-spacing: -0.07px;
            }
            .v-input__slot{
                height: 48px !important;
            }
        }
    }
    .button__boolean__change {
        .v-btn {
            padding: 6px 12px;
            margin-right: 8px !important;
            border-radius: 10px !important;
            border: 1px solid #e8e8e8 !important;
            background: #fff;
            .v-btn__content {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
                letter-spacing: -0.07px;
                color: #757575;
            }
            &.v-item--active {
                background: var(--primary) !important ;
                .v-btn__content {
                    color: #fff;
                }
            }
        }
    }
}
.input_fixed_price {
    margin-bottom: 24px;
    .label_price {
        border-radius: 12px 0 0 12px;
        padding: 14px 16px;
        border: 1px solid #d6d6d6;
        height: 48px;

        color: #131313;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; 
        letter-spacing: -0.07px;
    }
    .input_rc_mod {
        width: 425px;
        margin-bottom: 0;
        height: 48px;
        border-radius: 0 8px 8px 0 !important;
        left: -1px;
        position: relative;
    }
}

.divider_space{
    height: 1px;
    width: 100%;
    background: url('data:image/svg+xml,<svg width="500" height="1" viewBox="0 0 500 1" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="0.5" x2="100%" y2="0.5" stroke="%23E5E5E5" stroke-dasharray="5 5"/></svg>');
}