.main_atendimento {
  border-radius: 12px;
  border: 1px solid var(--border-secondary, #efefef);
  background: #fff;
  width: 100%;
  display: block;

  h2 {
    color: var(--content-primary, #131313);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.32px;
  }

  h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--content-tertiary, #989898);
    line-height: 20px;
    letter-spacing: -0.28px;
  }

  .card_dns {
    max-width: 450px;

    p {
      font-size: 13px;
    }

    ul {
      li {
        font-size: 14px;
      }
    }
  }
}
