.saldo_seller_main {
  .card {
    width: 100%;
    border: #efefef 1px solid;
    .icon {
      color: #989898;
      .down {
      }
      .up {
        color: #10b981;
      }
      .down {
        color: #f15b50;
      }
    }
    .title_card_saldo {
      color: var(--content-secondary, #525252);
      font-size: var(--Typography-size-body-14px, 14px);
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      line-height: var(--Typography-size-line-height-2-xs, 20px);
      letter-spacing: -0.28px;
    }
    .value {
      color: var(--content-primary, #131313);
      font-size: var(--Typography-size-heading-H4, 24px);
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      line-height: var(--Typography-size-line-height-2-sm, 28px);
      letter-spacing: -0.48px;
    }
    .description-pt {
      color: var(--content-tertiary, #989898);
      font-size: var(--Typography-size-body-14px, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      line-height: var(--Typography-size-line-height-2-xs, 20px);
      letter-spacing: -0.28px;
    }
  }
}
